
.error {
 padding-top: 10rem;
 
}

.group__error {
 display: flex;
flex-direction: column;
 position: relative;
   width: 100%;
   
}

.text__Error {
 text-align: center;
color: white;
font-size: 60px;
}
.travolta {
 text-align: center;
}
.group__travolta img {
 
    
    bottom: 0;
    height: 50vh;
    
}

 
